@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slideIn {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
  animation-fill-mode: forwards;
}

.slideOut {
  animation: 0.5s ease-out 0s 1 slideOutToRight;
}
